<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cholick.uuid</string>
	<key>connections</key>
	<dict>
		<key>E957B7BE-23AB-4668-B8F7-40AC99736398</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37728E2D-9BEC-476D-903B-7186A31C6780</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Cholick</string>
	<key>description</key>
	<string>Generate a Version 4 (random) UUID</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UUID Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>UUID=$(uuidgen)
cat &lt;&lt;EOF
{"items":[{"title":"$UUID","arg":"$UUID"}]}
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Generate a random uuid</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E957B7BE-23AB-4668-B8F7-40AC99736398</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>37728E2D-9BEC-476D-903B-7186A31C6780</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to generate a random v4 UUID and put it on the clipboard.

It just invokes the cli command "uuidgen", but there have been a few times building out test data coding when it's been nice to not have to hop over to the terminal and type "uuidgen | pbcopy".
	</string>
	<key>uidata</key>
	<dict>
		<key>37728E2D-9BEC-476D-903B-7186A31C6780</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>E957B7BE-23AB-4668-B8F7-40AC99736398</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>VERSION_PLACEHOLDER</string>
	<key>webaddress</key>
	<string>https://www.cholick.dev</string>
</dict>
</plist>
